<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%=data[0].title%>
    </title>
    <link href="/card.css" rel="stylesheet">

</head>
<body>
    
    <div class="loader">
        <div class="one">Loading . . .</div>
        <div class="waitt">It may take few seconds more,<br> while uploading you image</div>
    </div>
    <div class="outt">
        <form class="common" action="/h" method="post" >
            <p></p>
            <input id="inp1" name="postid" type="text" hidden value="<%=data[0]._id%>">
            <input id="inp2" name="who" type="text" hidden>
            <input type="text" id="fn" hidden name="filename" value="<%=data[0].image[0].filename%>">
            <input type="text" id="ul" hidden name="url" value="<%=data[0].image[0].url%>">
            <div class="choose">
                <button class="canx" type="button">Cancle</button>
                <button class="dellx">Delete</button>
            </div>
        </form>
    </div>
    <%-include("includes/top.ejs")%>
        <div class="bda">
            <%-include("includes/filter.ejs")%>
            <%if((error.length!==0) || (success.length!==0)){%>
                <div class="flash">
                    <div class="<%if(success.length!==0){%>sucess<%}else if(error.length!==0){%>delet<%}else{%> <%}%>">
                        <p>
                            <%if(success.length!==0){%>
                                <svg width="18" height="18" viewBox="0 10 177 140" fill="none">
                                    <path fill="rgb(0, 170, 74)"
                                        d="M142.196 30.4125C142.586 30.0637 142.897 29.6356 143.109 29.1567C143.32 28.6778 143.427 28.1592 143.422 27.6357C143.417 27.1122 143.3 26.5959 143.079 26.1213C142.858 25.6467 142.538 25.2248 142.141 24.8838C141.722 24.5249 141.307 24.1678 140.895 23.8127C137.751 21.1093 134.5 18.3102 131.1 15.9225C105.123 -2.36044 78.1316 -2.4633 50.8803 7.23287C26.2068 16.0055 10.3619 33.5563 3.77909 59.3882C-3.56415 88.249 2.86618 113.71 22.9048 135.073C23.4261 135.625 23.9582 136.177 24.4895 136.704C35.2539 147.469 48.6614 154.115 59.2847 158.739C63.8445 160.731 87.2404 163.149 93.5707 162.206C131.19 156.588 155.946 135.37 164.569 99.8725C166.215 92.9194 167.035 85.7962 167.011 78.6508C166.974 71.1466 165.712 63.6988 163.275 56.6012C163.097 56.0703 162.805 55.5851 162.418 55.1805C162.031 54.7759 161.56 54.4618 161.037 54.2606C160.515 54.0595 159.954 53.9764 159.396 54.0171C158.838 54.0579 158.295 54.2216 157.808 54.4965L157.706 54.5547C156.931 54.9984 156.336 55.7005 156.027 56.5381C155.717 57.3757 155.712 58.2954 156.012 59.1364C158.212 65.2371 159.334 71.674 159.327 78.1592C159.251 85.9394 158.198 93.6792 156.192 101.197C150.248 122.8 136.038 138.545 112.75 149.315C89.0741 160.65 55.1215 149.19 46.0879 143.226C36.1031 136.4 27.3663 127.908 20.2596 118.121C9.11418 102.34 6.61369 79.6587 12.6028 58.9229C15.4055 49.3489 20.3036 40.5185 26.9421 33.0722C33.5806 25.6259 41.793 19.7503 50.9838 15.8714C74.8941 5.93474 98.8852 4.18192 122.285 19.0635C125.422 21.061 133.422 27.3424 137.465 30.5501C138.143 31.0882 138.99 31.3691 139.855 31.3432C140.721 31.3172 141.549 30.986 142.194 30.4082L142.196 30.4125Z"
                                        fill="#000000" />
                                    <path fill="rgb(0, 170, 74)"
                                        d="M74.6287 104.313C76.2312 102.79 77.1115 102.019 77.9173 101.177C103.753 74.1855 132.047 49.8851 160.508 25.7727C161.584 24.8619 162.685 23.7 163.958 23.3737C165.493 22.9815 167.996 23.4326 168.682 24.2661C169.133 24.8821 169.418 25.6035 169.509 26.3612C169.601 27.1189 169.496 27.8875 169.206 28.5932C168.537 30.3474 166.907 31.8498 165.429 33.1629C156.607 41.0019 147.538 48.5708 138.872 56.5716C120.756 73.3024 102.756 90.1576 84.8704 107.137C77.0334 114.561 74.0173 114.862 66.8059 106.929C62.0589 101.705 47.7328 84.0973 43.3455 78.5495C42.7256 77.6872 42.1735 76.7781 41.6941 75.8305C40.7045 74.0756 40.0576 72.1419 42.0246 70.7814C44.2158 69.2662 45.7707 70.8473 47.0696 72.4937C48.384 74.1607 49.5048 75.9916 50.9121 77.5713C55.2811 82.4737 69.908 99.1421 74.6287 104.313Z"
                                        fill="#000000" />
                                </svg>
                                <%}else if(error.length!==0){%>
                                    <svg viewBox="0 0 512 512" width="17" fill="red">
                                        <path
                                            d="M256 32c14.2 0 27.3 7.5 34.5 19.8l216 368c7.3 12.4 7.3 27.7 .2 40.1S486.3 480 472 480L40 480c-14.3 0-27.6-7.7-34.7-20.1s-7-27.8 .2-40.1l216-368C228.7 39.5 241.8 32 256 32zm0 128c-13.3 0-24 10.7-24 24l0 112c0 13.3 10.7 24 24 24s24-10.7 24-24l0-112c0-13.3-10.7-24-24-24zm32 224a32 32 0 1 0 -64 0 32 32 0 1 0 64 0z" />
                                    </svg>
                                    <%}else{%>
                                        <%}%>
                                            <%=success%>
                                                <%=error%>
                        </p>
                        <svg class="successCut" style="cursor:pointer" width="16" viewBox="0 0 384 512">
                            <path stroke-width="0"
                                d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z" />
                        </svg>
                    </div>
                </div>
                <%}%>
                    <h3>
                        <%=data[0].title%>
                    </h3>
                    <div class="outer">
                        <div class="outimg">
                            <img class="imgx" src="<%=data[0].image[0].url%>">
                            <% if((user.username===data[0].username) && (data[0].image.length>>>1)){%>
                                <svg class="delonexx" viewBox="0 0 24 24" >
                                    <path d="M18.87 6h1.007l-.988 16.015A1.051 1.051 0 0 1 17.84 23H6.158a1.052 1.052 0 0 1-1.048-.984v-.001L4.123 6h1.003l.982 15.953a.05.05 0 0 0 .05.047h11.683zM9.5 19a.5.5 0 0 0 .5-.5v-10a.5.5 0 0 0-1 0v10a.5.5 0 0 0 .5.5zm5 0a.5.5 0 0 0 .5-.5v-10a.5.5 0 0 0-1 0v10a.5.5 0 0 0 .5.5zM5.064 5H3V4h5v-.75A1.251 1.251 0 0 1 9.25 2h5.5A1.251 1.251 0 0 1 16 3.25V4h5v1H5.064zM9 4h6v-.75a.25.25 0 0 0-.25-.25h-5.5a.25.25 0 0 0-.25.25z"/>
                                </svg>
                                <%}%>
                        </div>
                        <div class="inner">
                            <div class="allinone">
                                <%for(xx of data[0].image){%>
                                    <div class="outall">
                                        <div style="display:none"><%=xx.filename%></div>
                                        <img class="allimx" src="<%=xx.url%>">
                                        
                                    </div>
                                    <%}%>
                            </div>
                            <p style="font-size: 17px;color:rgb(29, 0, 0)">
                                <%=data[0].description%>
                            </p>
                            <p><b>Location </b>
                                <%=data[0].location%>
                            </p>
                            <p><b>Country </b>
                                <%=data[0].country%>
                            </p>
                            <p><b>Price </b> &#8377;<%=data[0].price.toLocaleString("en-IN")%>/<%=data[0].long%></p>

                            <p><b>Owner </b>
                                <%=data[0].username%>
                            </p>
                            <b>Features</b>
                            
                            <div class="dekho">
                                <div class="re ree" style="display:none"><%= data[0].filters%></div>
                            </div>
                        </div>
                    </div>

                    <form action="/addmoreimg/<%=data[0]._id%>" method="post" class="addmoreimg"
                        enctype="multipart/form-data">
                        <input type="file" hidden accept="image/*" id="iimmgg" name="iimmgg">
                        <div class="sowim">
                            <div>
                                <svg class="norm" viewBox="0 0 384 512">
                                    <path stroke-width=""
                                        d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z" />
                                </svg>
                            </div>
                            <img src="/img/sa3.jpg">
                        </div>
                        <div class="save">Save</div>
                    </form>
                    <% if(user.username===data[0].username){%>
                    <div class="btn">
                        <form action="/del/<%=data[0]._id%>" method="post">
                            <div class="button">Delete</div>
                        </form>
                       
                        <a href="/edit/<%=data[0]._id%>">Edit</a>
                        <label for="iimmgg" class="sndimgv">
                            <svg fill="rgb(255, 149, 0)" style=" transform: rotateZ(45deg); width:10px" width="16"
                                viewBox="0 0 384 512">
                                <path
                                    d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z" />
                            </svg>
                            <p>Add image</p>
                        </label>
                    </div>
                    <%}%>
                    <form class="ratingbox" method="post" action="/review/<%=data[0].id%>">
                        <h3>Leave a review</h3>
                        <input id="star" name="star" step="1" value="0" hidden type="range" min="0" max="5" required>
                        <div class="starbox">
                            <%for(let i=0; i < 5; i++){%>
                                <svg class="sttar" style="cursor:pointer" width="40" fill="rgb(255, 191, 14)"
                                    viewBox="0 0 576 512">
                                    <path fill="none"
                                        d="M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z" />
                                    <path fill="grey"
                                        d="M287.9 0c9.2 0 17.6 5.2 21.6 13.5l68.6 141.3 153.2 22.6c9 1.3 16.5 7.6 19.3 16.3s.5 18.1-5.9 24.5L433.6 328.4l26.2 155.6c1.5 9-2.2 18.1-9.7 23.5s-17.3 6-25.3 1.7l-137-73.2L151 509.1c-8.1 4.3-17.9 3.7-25.3-1.7s-11.2-14.5-9.7-23.5l26.2-155.6L31.1 218.2c-6.5-6.4-8.7-15.9-5.9-24.5s10.3-14.9 19.3-16.3l153.2-22.6L266.3 13.5C270.4 5.2 278.7 0 287.9 0zm0 79L235.4 187.2c-3.5 7.1-10.2 12.1-18.1 13.3L99 217.9 184.9 303c5.5 5.5 8.1 13.3 6.8 21L171.4 443.7l105.2-56.2c7.1-3.8 15.6-3.8 22.6 0l105.2 56.2L384.2 324.1c-1.3-7.7 1.2-15.5 6.8-21l85.9-85.1L358.6 200.5c-7.8-1.2-14.6-6.1-18.1-13.3L287.9 79z" />
                                </svg>
                                <%}%>
                        </div>
                        <br><textarea name="comment" required placeholder="Leave a comment..."></textarea>
                        <br><button class="suu" type="button">Submit</button>
                    </form>
                    <div class="showrev">
                        <%for( rr of data[0].reviews){%>

                            <div class="onereview">
                                <div class="immgg">
                                    <div class="plate">
                                        <img src="/img/user.jpg">
                                        <div>
                                            <%=rr.name%>
                                        </div>
                                    </div>
                                    <% let ow=rr.rating%>
                                    <div>
                                        <%for(let i=0; i < ow;i++){%>
                                            <svg class="star" viewBox="0 0 576 512">
                                                <path
                                                    d="M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z" />
                                            </svg>
                                            <%}%>
                                                <%for(let i=0; i < (5-ow);i++){%>
                                                    <svg class="star" viewBox="0 0 576 512">
                                                        <path fill="rgb(180,180,180)"
                                                            d="M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z" />
                                                    </svg>
                                                    <%}%>
                                    </div>
                                </div>
                                    <div class="comment" readonly><%=rr.comment%></div>
                                    <div class="ft">
                                        <% const createdAt = new Date(rr.when); %>
                                        <% const nows = new Date(); %>
                                        <% const milli = nows - rr.when; %>
                                        <% const sec = Math.floor(milli / (1000 )); %>
                                        <% const min = Math.floor(sec / (60)); %>
                                        <% const hr = Math.floor(min / (60)); %>
                                        <% const day = Math.floor(hr / (24)); %>
                                        <% const years = Math.floor(day / 365); %>
                                        <p>
                                            <%if(milli<60){%>
                                                just now
                                                <%}else if(sec<60){%>
                                                <%=sec%> seconds ago
                                                <%}else if(min<60){%>
                                                    <%=min%> minuts ago
                                                    <%}else if(hr<24){%>
                                                        <%=hr%> hour ago
                                                        <%}else if(day<365){%>
                                                            <%=day%> days ago
                                                            <%}else{%>
                                                                <%=years%> Year ago
                                                                <%}%>
                                        </p>
                                        <%if(user.username===rr.name){%>
                                        <svg class="dell <%=rr._id%>" width="13" fill="rgb(150,150,150)"
                                            viewBox="0 0 448 512">
                                            <path
                                                d="M135.2 17.7L128 32 32 32C14.3 32 0 46.3 0 64S14.3 96 32 96l384 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-96 0-7.2-14.3C307.4 6.8 296.3 0 284.2 0L163.8 0c-12.1 0-23.2 6.8-28.6 17.7zM416 128L32 128 53.2 467c1.6 25.3 22.6 45 47.9 45l245.8 0c25.3 0 46.3-19.7 47.9-45L416 128z" />
                                        </svg>
                                        <%}%>
                                    </div>
                            </div>
                            <%}%>
                    </div>




                    <%-include("includes/foot.ejs")%>
                        <script src="/card.js" defer></script>
        </div>
</body>
</html>
<script>
    let loader = document.querySelector(".loader");
    loader.style.display = "none";
</script>